@model ContentListViewModel

@foreach (var category in Model.Contents.GroupBy(f => f.Category))
{
    <div>
        <h2>@category.Key.Name</h2> <h3>@category.Key.TotalValue.ToString("c")</h3>
    </div>
    @foreach (var content in category.Key.Contents)
    {
        <h4>@content.Name</h4> <h4>@content.Value.ToString("c")</h4>
    }
}
